<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="columns has-background-black has-text-white">
            <div class="column is-two-thirds">
                Testing!
                <div class="tile">
                    Weather tile
                </div>
                <div class="tile">
                    Szwedzka tile
                </div>
                <div class="tile">
                    Grunwaldzkie tile
                </div>
            </div>
            <div class="column">
                Attention please
                <div class="tile">
                    idk, current times tile?
                </div>
            </div>
        </div>
    </body>
</html>